div.LinkNavDesktopNormal {

    a.textLink {
        color: var(--white);
    }
}

div.LinkNavDesktopNormal, 
div.LinkNavMobileNormal 
{
    background-color: transparent;

    padding: 0;
    
    a.textLink {
        font-family: Barlow, Helvetica, sans-serif;
        font-weight: 600;
        
        text-transform: none;
    }
}

div.LinkNavMobileNormal {

    a.textLink {
        color: var(--very-dark-desaturated-blue);
    }
}

div.LinkNavDesktopNormal,
div.LinkNavDesktopStrong,
div.LinkNavMobileNormal,
div.LinkNavMobileStrong
{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 40px;

    margin: 0 20px;

    a.textLink {
        text-decoration: none;
    }
}

div.LinkNavDesktopStrong {
    background-color: var(--white);

    a.textLink {
        color: var(--black);
    }
}

div.LinkNavDesktopStrong,
div.LinkNavMobileStrong 
{
    padding: 17px 27px;

    cursor: pointer;

    transition: all 200ms;

    a.textLink {
        font-family: Fraunces, Helvetica, sans-serif;
        font-weight: 700;

        text-transform: uppercase;
    }
}

div.LinkNavMobileStrong {
    background-color: var(--yellow);

    a.textLink {
        color: var(--black)
    }
}

div.LinkNavDesktopStrong:hover {
    background-color: var(--white-alpha-button);

    a.textLink {
        color: var(--white);
    }
}