div#WindowNavMobile {
    width: calc(100% - 80px);
    
    position: relative;

    background-color: var(--white);

    padding: 20px;
    
    div#triangle {
        width: 0;
        height: 0;

        position: absolute;
        right: 0;
        top: -1.5rem;

        border: 30px solid;
        border-right-color: var(--white);
        border-left-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
    }
}