section.section {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    // padding: 10vw 11vw;

    article.article {
        width: 371.281px;
        height: 184.797px;

        div.CardText {
            flex-direction: column;

            h3.title {
                color: var(--very-dark-desaturated-blue);
                
                margin-bottom: 20px;
                
                font-size: 2rem;
                font-family: Fraunces, Helvetica, sans-serif;
                font-weight: 900;
            }
            
            p.paragraph {
                font-family: Barlow, Helvetica, sans-serif;
                font-size: 14.5px;
                
                color: var(--dark-grayish-blue);
                
                margin-bottom: 40px;
            }
        }
    }
}

section.section,
div.CardText
{
    display: flex;
}

@media screen and (max-width: 852px) {
    section.section {
        height: 25rem;

        article.article {
            width: calc(100% - 50px);
            height: auto;

            div.CardText {
                align-items: center;

                h3.title {
                    margin-bottom: 30px;
                }

                h3.title,
                p.paragraph 
                {
                    text-align: center;
                }

                p.paragraph {
                    line-height: 25px;

                    font-size: 15px;
                }
            }
        }
    }
}