article.article {

    div.CardComments {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        margin: 0 20px;

        img.imageUser {
            width: 60px;
            height: 60px;

            border-radius: 100%;
        }

        img.imageUser,
        p.comment
        {
            margin-bottom: 2rem;
        }

        p.comment {
            text-align: center;

            color: var(--very-dark-grayish-blue);

            line-height: 25px;

            max-width: 19rem;
        }

        span.nameUser {
            font-family: Fraunces, Helvetica, sans-serif;
            font-weight: 900;

            margin-bottom: 0.6rem;
        }

        span.profession {
            color: var(--grayish-blue);

            font-size: 0.8rem;
        }

        p.comment,
        span.profession
        {
            font-family: Barlow, Helvetica, sans-serif;
        }
    }
}

@media screen and (max-width: 852px) {
    article.article {
        margin-top: 4rem;
    }

    article.article:first-of-type {
        margin-top: 0;
    }
}
