main#Main {
    display: grid;
    grid-template-areas: 
        "cardText1 image1"
        "image2 cardText2"
        "cardImage1 cardImage2"
        "sectionCardComments sectionCardComments"
        "imagesFeatured imagesFeatured"
    ;
    /*
        Esse valores do grid-template-areas foram
        criadas no globals.scss

        coloquei na raiz para ter total certeza
        que não haverá erros
    */

    figure.figure {
        
        img.imageMain {
            height: 100%;
        }
    }

    section#userComments {
        grid-area: sectionCardComments;

        width: 100%;

        flex-direction: column;
        
        margin-bottom: 5rem;

        h3#titleUserComments {
            color: var(--grayish-blue);
            
            font-family: Fraunces, Helvetica, sans-serif;
            font-size: 1rem;

            letter-spacing: 0.5rem;

            text-align: center;

            margin: 5rem 0;
        }
    }

    div#imagesFeatured {
        width: 100%;
        height: 25rem;

        grid-area: imagesFeatured;
        
        img.imagesFeaturedStyle {
            width: 25%;

            object-fit: cover;
        }
    }
}

section#userComments,
div#listCards,
div#imagesFeatured
{
    display: flex;
    justify-content: center;
}

section#userComments,
div#listCards
{
    align-items: center;
}

figure.figure,
img.imageMain,
main#Main
{
    width: 100%;
}

@media screen and (max-width: 852px) {
    main#Main {
        grid-template-areas: 
            "image1"
            "cardText1"
            "image2"
            "cardText2"
            "cardImage1"
            "cardImage2"
            "sectionCardComments"
            "imagesFeatured"
        ;

        section#userComments {
            height: auto;

            div#listCards {
                flex-direction: column;
            }
        }

        div#imagesFeatured {
            display: grid;
            grid-template: auto auto / auto auto;
            justify-content: stretch;
            align-content: stretch;
            justify-items: stretch;
            align-items: stretch;

            height: auto;

            img.imagesFeaturedStyle {
                width: 100%;
                height: 40vw;
            }
        }
    }
}