main#Main {
    display: grid;
    grid-template-areas: 
        "cardText1 image1"
        "image2 cardText2"
        "cardImage1 cardImage2"
        "sectionCardComments sectionCardComments"
    ;
    /*
        Esse valores do grid-template-areas foram
        criadas no globals.scss

        coloquei na raiz para ter total certeza
        que não haverá erros
    */

    figure.figure {
        
        img.imageMain {
            // width: 100%;
            height: 100%;
        }
    }

    section#userComments {
        grid-area: sectionCardComments;

        width: 100%;
        height: 40vw;

        flex-direction: column;
        
        h3#titleUserComments {
            color: var(--grayish-blue);
            
            font-family: Fraunces, Helvetica, sans-serif;
        }
        
        // div#listCards {
            
        // }
    }
}

section#userComments,
div#listCards
{
    display: flex;
    justify-content: center;
    align-items: center;
}

figure.figure,
img.imageMain,
main#Main
{
    width: 100%;
}

@media screen and (max-width: 852px) {
    main#Main {
        grid-template-areas: 
            "image1"
            "cardText1"
            "image2"
            "cardText2"
            "cardImage1"
            "cardImage2"
        ;
    }
}