div#BackgroundMainData {
    background-image: url(../../assets/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 80%;

    width: 100%;
    height: 120vh;
}