* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    // Primary Colors
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);

    // Neutral Colors
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

    // Extra Colors
    --black: #000000;
    --white-alpha-button: rgba(255, 255, 255, 0.3);
}

ul#list-menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    li.item-menu {
        margin-bottom: 20px;

        list-style-type: none;
        list-style-position: outside;
    }

    li.item-menu:last-of-type {
        margin-bottom: 0;
    }
}

#item1 {
    grid-area: cardText1;
}

#item2 {
    grid-area: image1;
}

#item3 {
    grid-area: image2;
}

#item4 {
    grid-area: cardText2;
}

#item5 {
    grid-area: cardImage1;
}

#item6 {
    grid-area: cardImage2;
} 